h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #064168;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #064168;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

label {
  display: block;
  margin-top: 20px;
  margin-bottom: 5px;
  color: #064168;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #064168;
}

.section {
  min-height: 100vh;
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #e6e6e6;
}

.nav-link {
  color: #fff;
}

.cardcontainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-perspective: 2000px;
  perspective: 2000px;
}

.contentcontainer {
  padding-right: 10%;
  padding-left: 10%;
}

.card {
  position: relative;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: visible;
  width: 24%;
  height: 23vh;
  margin: 0.5%;
}

.front {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.back {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #0075c0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
}

.back.visable {
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.heading {
  color: #064168;
}

.heading-2 {
  color: #064168;
}

.button {
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #064168;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}

.button:hover {
  background-color: #0075c0;
}

.card_logo {
  width: 35%;
}

.div-overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 1005;
  display: none;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, .8);
}

.gamesettingsdiv {
  position: relative;
  padding: 60px;
  background-color: #fff;
}

.input {
  border-radius: 5px;
}

.close {
  position: absolute;
  left: 15px;
  top: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  padding-left: 1px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 2px solid #064168;
  border-radius: 50px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #064168;
  font-weight: 700;
  text-decoration: none;
}

.close:hover {
  background-color: #064168;
  color: #fff;
}

.cardbold {
  margin-right: 7px;
  float: left;
  font-weight: 700;
}

.personpicture {
  width: 100%;
  height: 100%;
  background-image: url('../images/placeholder.png'), url('../images/ProfilePlaceholderSuit.png');
  background-position: 50% 50%, 50% 50%;
  background-size: cover, cover;
}

.card-icon {
  margin-bottom: 10px;
  font-family: 'Fontawesome webfont', sans-serif;
  font-size: 30px;
  line-height: 35px;
}

@media (max-width: 991px) {
  .contentcontainer {
    padding-right: 1%;
    padding-left: 1%;
  }
  .card {
    width: 32%;
    height: 19vh;
  }
}

@media (max-width: 767px) {
  .card {
    height: 16vh;
    min-height: 75px;
  }
}

@media (max-width: 479px) {
  .card {
    width: 48%;
    height: 10vh;
    min-height: 150px;
    margin: 1%;
  }
}

@font-face {
  font-family: 'Fontawesome webfont';
  src: url('../fonts/fontawesome-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}